/* ==========================
      SECTION TITLES
========================== */

.section-subtitle{

    text-align:center;

    color:var(--accent);

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:16px;

}

.section-title{

    text-align:center;

    font-family:var(--heading-font);

    font-size:3.6rem;

    margin-bottom:24px;

}

.section-description{

    max-width:760px;

    margin:0 auto 70px;

    text-align:center;

    color:var(--text-secondary);

    line-height:1.8;

}



/* ==========================
      EXPERIENCE
========================== */

.experience{

    background:#0D0D0D;

}

.experience-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.experience-card{

    background:#171717;

    border:1px solid rgba(255,255,255,.05);

    border-radius:20px;

    padding:45px 35px;

    transition:.4s;

    cursor:pointer;

}

.experience-card:hover{

    transform:translateY(-12px);

    border-color:rgba(200,155,60,.4);

    box-shadow:0 18px 45px rgba(0,0,0,.45);

}

.experience-icon{

    font-size:2.6rem;

    margin-bottom:22px;

}

.experience-card h3{

    font-family:var(--heading-font);

    font-size:1.6rem;

    margin-bottom:16px;

}

.experience-card p{

    color:var(--text-secondary);

    line-height:1.8;

}

/* ==========================
      SIGNATURE DISHES
========================== */

.signature{

    background:#080808;

}

.signature-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:32px;

}

.dish-card{

    background:#171717;

    border-radius:20px;

    overflow:hidden;

    transition:.4s ease;

    border:1px solid rgba(255,255,255,.05);

}

.dish-card:hover{

    transform:translateY(-12px);

    border-color:rgba(200,155,60,.35);

    box-shadow:0 18px 45px rgba(0,0,0,.45);

}

.dish-card img{

    width:100%;

    height:260px;

    object-fit:cover;

    transition:.45s;

}

.dish-card:hover img{

    transform:scale(1.08);

}

.dish-content{

    padding:28px;

}

.dish-category{

    color:var(--accent);

    text-transform:uppercase;

    font-size:.8rem;

    letter-spacing:2px;

}

.dish-content h3{

    margin:15px 0;

    font-family:var(--heading-font);

    font-size:2rem;

}

.dish-content p{

    color:var(--text-secondary);

    line-height:1.8;

}

.dish-footer{

    margin-top:28px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.price{

    color:var(--accent);

    font-size:1.2rem;

    font-weight:700;

}

.dish-footer a{

    color:white;

    transition:.3s;

}

.dish-footer a:hover{

    color:var(--accent);

}

.menu-button{

    margin-top:70px;

    text-align:center;

}