.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    position:relative;

    background:
    linear-gradient(
        rgba(0,0,0,.72),
        rgba(0,0,0,.65)
    ),
    url("../assets/images/hero/hero.jpg");

    background-size:cover;

    background-position:center;

}

.hero-content{

    position:relative;

    z-index:2;

    max-width:720px;

}

.hero-subtitle{

    color:var(--accent);

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:20px;

    font-size:.95rem;

}

.hero h1{

    font-family:var(--heading-font);

    font-size:5.5rem;

    line-height:1.08;

    margin-bottom:30px;

}

.hero h1 span{

    color:var(--accent);

}

.hero-description{

    color:var(--text-secondary);

    line-height:1.9;

    font-size:1.15rem;

    max-width:620px;

    margin-bottom:45px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}